.sign-in-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
  
    h2 {
      margin: 10px 0;
    }
  
    .buttons-container {
      display: flex;
      justify-content: center;
      button{
        margin: 10px;
      }
    }
  }